/* Nollataan marginit, jotta tausta oikeasti alkaa aivan ikkunan yläreunasta */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*taustagradientti koko sivulle */
html, body {
    height: 100%;
}

/*Varsinainen tausta ja fontin määritys */
body {
    min-height: 100vh;   
    background: linear-gradient(to bottom,#1C1B1B 25%,#5F54A8 97%);
   
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #E1E1E1;
    display: flex;
    flex-direction: column;
}

/* Headerin asettelu*/

.sivu-header{
    display: flex;

    justify-content: space-between;

    align-items: center;
    padding: 0 40px;
    height: 80px;
    background-color: #1C1B1B;
}

.logo-alue{

    display: flex;
    align-items: center;
    gap: 15px;
    list-style: none;
}

.logo-alue img{
    height: 48px;
    width: auto;
}

.verkkosivun-otsikko{
    font-size: 24px;
    font-weight: 700;
    color: #E1E1E1;
    letter-spacing: 1px;
    margin-top: 13px;
}

main{
    flex: 1;
    padding-top: 40px;
    padding-inline: 40px;
    padding-bottom: 80px;
    display: block;
}

.pää-nav ul {
    display: flex;
    align-items: center;
    gap: 32px;
    list-style: none;
}

.pää-nav a{
    color: #E1E1E1;
    text-decoration: none;
    font-weight: 500;
}

.tilaus-painike{
    background-color: #76646F;
    color: white;
    border: none;
    padding: 8px 18px;
    border-radius: 999px;
    font-weight: 600;
    cursor: pointer;

    transition: 
        background-color 0.2s ease,
        transform 0.15s ease;
}
.tilaus-painike:hover{
    background-color: #6F54A8;
}
.some-kuvat {
    text-align: center;
    margin-top: 30px;
}
.some-kuvat img {
    display: inline-block;
    margin: 0 10px;
    width: 28px;
}
footer {
    background-color: black;
    color:white;
    padding: 50px;
    display: flex;
    gap: 30px;
    border-radius: 30px;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
    position: relative;
    clear: both;
}
footer nav a {
    color:white;
    margin-left: 1rem;
    display:flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
}
footer nav a:focus {
    outline: 2px solid white;
}
.footer-section {
    margin-bottom: 20px;
}
.palvelut-teksti {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}
.palvelut-teksti h1 {
    margin-bottom: 20px;
    font-size: 48px;
}
.esittely {
    margin-bottom: 50px;
    font-size: 20px;
    color: #bdbdbd;
}
.palvelut-teksti h2 {
    margin-top: 30px;    
    margin-bottom: 10px; 
    font-size: 28px;
    color: #ffffff;
}
.palvelu-tekstit p {
    margin-bottom: 20px;
    line-height: 1.6;
}