/* Nollataan marginit, jotta tausta oikeasti alkaa aivan ikkunan yläreunasta */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*taustagradientti koko sivulle */
html, body {
    height: 100%;
}

/*Varsinainen tausta ja fontin määritys */
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom,#1C1B1B 25%,#5F54A8 97%);
  background-attachment: fixed;
   
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #E1E1E1;
}

/* Headerin asettelu*/

.sivu-header{
    display: flex;

    justify-content: space-between;

    align-items: center;
    padding: 0 40px;
    height: 80px;
    background-color: #1C1B1B;
}

.logo-alue{

    display: flex;
    align-items: center;
    gap: 15px;
    list-style: none;
}

.logo-alue img{
    height: 48px;
    width: auto;
}

.verkkosivun-otsikko{
    font-size: 24px;
    font-weight: 700;
    color: #E1E1E1;
    letter-spacing: 1px;
    margin-top: 13px;
}

main{
    padding-top: 40px;
    padding-inline: 40px;
    flex: 1;
}

.pää-nav ul {
    display: flex;
    align-items: center;
    gap: 32px;
    list-style: none;
}

.pää-nav a{
    color: #E1E1E1;
    text-decoration: none;
    font-weight: 500;
}

.tilaus-painike{
    background-color: #76646F;
    color: white;
    border: none;
    padding: 8px 18px;
    border-radius: 999px;
    font-weight: 600;
    cursor: pointer;

    transition: 
        background-color 0.2s ease,
        transform 0.15s ease;
}
.tilaus-painike:hover{
    background-color: #6F54A8;
}
.some-kuvat {
    text-align: center;
    margin-top: 30px;
}
.some-kuvat img {
    display: inline-block;
    margin: 0 10px;
    width: 28px;
}

/*Hero taustakuva */

.hero-taustakuva{

    background-image: url("Group 1clean.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    padding: 60px 40px;
    border-radius: 20px;
    max-width: 1500px;
    margin: 40px auto;
    box-shadow: 0 8px 30px rgba(0,0,0,0.4);

    
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.hero-taustakuva {
    position: relative;
    overflow: hidden;
}

.hero-taustakuva::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.25);
    z-index: 0;
}

.hero-taustakuva > * {
    position: relative;
    z-index: 1; 
}

.hero-taustakuva h1{

    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}


.hero-taustakuva p{

    font-size: 24px;
    opacity: 0.9;
    font-weight: 700;
    margin-top: 1px;
    margin-bottom: 8px;
    
}

.hero-sisalto{
    max-width: 1100px;
    margin: 0 auto;
}
.info-rivi{
    display: flex;
    gap: 90px;
    margin-top: 50px;
    align-items: flex-start;
    
}
.info-vasen{
    flex: 1;
}
.info-kuva-pysty{
    width: 100%;
    max-width: 460px;
    height: auto;
    object-fit: cover;
    border-radius: 16px;
    box-shadow: 0 6px 16px rgba(0, 0, 0,0.6);
}
.info-oikea h2{
    font-size: 30px;
    font-weight: 700;
    margin: 0;
}
.info-oikea{
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 8px;
    max-width: 550px;
    
}

.info-oikea-teksti{
    line-height: 1.6;
    font-size: 16px; 
    margin: 0;
        
}

.hero-content{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.info-kuva-vaaka{
    width: 100%;
    max-width: 700px;
    height: auto;
    object-fit: cover;
    border-radius: 16px;
    box-shadow: 0 6px 16px rgba(0, 0, 0,0.6);
    margin: 0;
}

/*Responsiivisuus*/
@media (max-width: 600px){
    .info-rivi{
        flex-direction: column;
        align-items: center;
    }
    .info-vasen, .info-oikea{
        max-width: 90%;
    }
    .info-oikea{
        text-align: center;
    }
    .sivu-header {
        flex-direction: column;
        align-items: flex-start;
        padding: 10 px 20 px;
        height: auto;
    }
    .pää-nav ul {
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        width: 100%;
        padding: 10px;
    }
    footer {
        flex-direction: column;
        width: 100%;
        gap: 40px;
        text-align: center;

    }
    footer nav {
        align-items: center;
    }
    .some-kuvat {
        justify-content: center;
    }
}

    


.valinta-rivi{

    display: flex;
    justify-content: center;
    gap: 30px; 
    flex-wrap: wrap;
    margin-top: 1px;

}

.valinta-painike{

    background-color: #2E2E2E;
    border: none;
    padding: 8px 20px;
    border-radius: 999px;
    color: #E1E1E1;
    cursor: pointer;
    font-size: 18px;
    font-weight: 550;
    box-shadow: 0 2px 8px rgb(0,0,1);

    transition: background-color 0.2s ease, transform 0.15s ease, box-shadow 0.15s ease;

}

.valinta-painike:hover{
    background-color: #3A3A3A;
    transform: translateY(-1px);
    box-shadow: 0 5px 14px rgba(0,0,0,1);
}



.slider-kontti{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.neliot-slider{
    width: 30%;
    accent-color: #2761f5;
}

.neliot {
    font-size: 16px;
    background-color: #2E2E2E;
    padding: 5px 16px;
    border-radius: 12px;
}

.seuraava-painike{

    background-color: #2E2E2E;
    border: none;
    padding: 8px 20px;
    border-radius: 999px;
    color: #E1E1E1;
    cursor: pointer;
    font-size: 18px;
    font-weight: 550;
    box-shadow: 0 2px 8px rgb(0,0,1);

    transition: background-color 0.2s ease, transform 0.15s ease, box-shadow 0.15s ease;

}
.sisalto {
    max-width: 800px;
    margin: auto;
    padding: 0 8px;
    font-size: 16px;
    line-height: 1.6;

}
.seuraava-painike:hover{
    background-color: #3A3A3A;
    transform: translateY(-1px);
    box-shadow: 0 5px 14px rgba(0,0,0,1);
}
footer {
    background-color: black;
    color:white;
    padding: 50px;
    display: flex;
    gap: 30px;
   
    justify-content: space-between;
    width: 100%;
}
footer nav a {
    color:white;
    margin-left: 1rem;
    display:flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
}
footer nav a:focus {
    outline: 2px solid white;
}
.footer-section {
    margin-bottom: 20px;
}